name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.21.0

    - name: Test
      run: go test -v ./...
      env:
        TF_ACC: 1
        TF_ACC_TERRAFORM_VERSION: 1.4.4
